<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trace-story built-in test</title>
</head>
<body>
    <div id="trace-story" data-zoom="10"></div>
    <img src="https://shenlvmeng.github.io/cycle/images/0.jpg" data-desc="昌平怀柔交界" />
    <img src="https://shenlvmeng.github.io/cycle/images/1.jpg" data-desc="门头沟海淀交界" />
    <img src="https://shenlvmeng.github.io/cycle/images/12.jpg" data-desc="朝阳顺义交界" />
</body>
</html>