@main-font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", Tahoma, Arial;

@font-face {
    font-family: 'iconfont';  /* project id 860174 */
    src: url('//at.alicdn.com/t/font_860174_xdz6bbj6a7k.eot');
    src: url('//at.alicdn.com/t/font_860174_xdz6bbj6a7k.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_860174_xdz6bbj6a7k.woff') format('woff'),
    url('//at.alicdn.com/t/font_860174_xdz6bbj6a7k.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_860174_xdz6bbj6a7k.svg#iconfont') format('svg');
}

html, body, #root {
    width: 100%;
    height: 100%;
}
body {
    font-family: @main-font-family;
    font-size: 14px;
}
button, input {
    font-family: @main-font-family;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}
ul, li {
    list-style: none;
}
button {
    outline: none;
    appearance: none;
    box-shadow: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        transition: .3s opacity;
        opacity: 0.8;
    }
}
input, textarea {
    font-family: @main-font-family;
    outline: none;
}
input:not([type='file']) {
    user-select: text;
    -webkit-user-select: text;
}
input[type='file'] {
    display: none;
}
::placeholder {
    color: #c2c2c2;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
.main {
    max-width: 920px;
    margin: 0 auto;
}
.iconfont {
    font-family: iconfont;
}
.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave{
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm{
        animation: octocat-wave 560ms ease-in-out;
    }
}
